@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.css';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

button{
  text-decoration: none;
}

@media screen and (max-width: 768px){
  /* Add any other styles you need for small screens here */
  body {
    overflow-x: hidden;
  }
}
