.feedbacks-container{
    display: flex;
    gap:50px;
    margin-left: 40%;
    margin-bottom:50px;
}

.feedbacks-container .title{
    font-size: 2rem;
    font-weight: 800;
    color: var(--dark-green);
    text-align: left;
    width: 100%;
}

.row{
    display: flex;
}

.feedback-projects{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-left: 2.5rem;
}

.feedback-card{
    width:400px;
    height: 250px;
    border-radius: 20px;
}


.feedback-card-info{
    padding:15px;
    display: flex;
    flex-direction: column;
    gap:20px;
    width: auto;

}

.feedback-card-info h3{
    font-size: 1.2rem;
    font-weight: 800;
    color: black;
    text-wrap: nowrap;
}

.feedback-card-info p{
    font-size: 1rem;
    color: black;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    line-height: 1.5;
    max-height: calc(6 * 1.5em);
    min-height: calc(3 * 1.5em);
}

.stars{
    color: #f3c930;
    font-size: 1.3rem;
    margin-left: 10px;
}

.feedback-details{
    display: flex;
    justify-content: space-between;
    gap:10px;
}

.feedback-details-date{
    color: var(--green);
    font-size: 1rem;
    font-weight: 800;
    text-wrap: nowrap;
}

.feedback-details-category{
    color: var(--green);
    font-size: 1rem;
    font-weight: 800;
}

@media screen and (max-width: 768px){
    .feedbacks-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 0;
        margin-bottom: 10px;
        margin-left: 100px;
        margin-right:100px;
    }

    .feedback-card{
        width: 80%;
        margin: 0 auto;
        height: 100%;
    }
    .feedback-projects{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 0;
    }


    .feedback-card-info h3{
        font-size: 1rem;
        font-weight: 800;
        color: black;
        text-wrap: nowrap;
    }
    .stars{
        font-size: 1rem;
        margin-left: 10px;
    }

.feedbacks-container .title{
    padding-left: 10px;
    font-size: 1.5rem;
    margin: 0 auto;
    width: 80%;
}
}