.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.title {
    font-size: 3rem;
    font-weight: 1000;
    color: #524C42;
    margin-top: 4rem;
    width: 500px;
    text-wrap: wrap;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

