.center-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: #fff9f5;
}

.white-container {
    background-color: #fff;
}



.title {
    font-size: 3rem;
    font-weight: 1000;
    color: var(--green);
    margin-top: 4rem;
    width: 600px;
    text-wrap: wrap;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

