.center-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: #f7f7f7;
    padding-bottom: 4rem;
}

.white-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
}

.title {
    font-size: 3rem;
    font-weight: 1000;
    color: var(--dark-green);
    margin-top: 4rem;
    width: 30vw;
    text-wrap: wrap;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px){
    .title {
        font-size: 1.7rem;
        width: 80vw;
    }
    
}