.services-menu {
    color: black;
    display: flex;
    justify-content: center;
}

.services-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 100px;
    justify-content: center;
    border-bottom: 1px solid var(--middle-green);
}

.services-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: var(--dark-green);
    margin-bottom: 1rem;
}

.services-item:hover {
    color: var(--middle-green);
    transition: all 100ms ease;
}

.services-item.active {
    color: var(--middle-green);
}

.services-item i {
    font-size: 2.3rem;
}

.services-item span {
    font-size: 1rem;
    font-weight: 500;
}

.subservices-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    width: 50%;
    justify-content: center;
}

.subservice-item{
    padding: 10px 20px;
    border: 1px solid var(--green);
    border-radius: 2rem;
    background-color: white;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    white-space: nowrap;
}

.category:hover {
    background-color: #f1f5ed;
}