.services-menu {
    color: black;
    display: flex;
    justify-content: center;
}

.services-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 50px;
    justify-content: center;
    border-bottom: 1px solid #ee6231;
}

.services-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: #524C42;
    margin-bottom: 1rem;
}

.services-item:hover {
    color: #b5b5b5;
    transition: all 100ms ease;
}

.services-item.active {
    color: #ee6231;
}

.services-item i {
    font-size: 2.5rem;
}

.services-item span {
    font-size: 1.1rem;
}