.search {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--green);
    border-radius: 40px;
    width: fit-content;
    flex-direction: column;
}

.search-input {
    border: 1px solid var(--green);
    color: var(--dark-green);
    padding: 20px 0px 20px 20px;
    border-radius: 40px;
    width: 700px;
    font-size: 1.2rem;
}

.search-input:focus {
    outline: none;
    border-color: var(--green);
}

.search-results {
    list-style-type: none;
    margin-top: 20px;
    border: 1px solid var(--green);
    color: var(--dark-green);
    border-radius: 10px;
    font-weight: 400;
    position: absolute;
    width: 700px;
    background-color: white;
    z-index: 100;
}



.results {
    font-size: 16px;
    padding: 10px 10px 10px 20px;
}

.search-results > a:first-child > .results {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.search-results > a:last-child > .results {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}



.results:hover {
    background-color: #f0f0f0;
    color: #171616;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .search {
        width: 80vw;
    }
    .search-input {
        width: 80vw;
    }
    .search-results {
        width: 80vw;
    }
}