.alert-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
}

.alert-message{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f1f5ed;
    color: var(--green);
    font-size: 1.3rem;
    font-weight: 600;
}

.discount{
    font-weight: 700;
}