.navbar {
    width: 100vw;
    height: 100px;
    background-color: #fff;
    color: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid lightgrey;
}

.navbar-logo {
    height: 100px;
    width: auto;
    border-radius: 50%;
}

.navbar-logo:hover {
    opacity: 90%;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.navbar-list li {
    display: flex;
    cursor: pointer;
    font-size: 1.2rem;
    gap:7px;
}

.navbar-list li:hover {
    color: var(--middle-green);
    border-radius: 5px;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 1rem;
}

.navbar-actions button {
    font-size: 1rem;
    font-weight: 600;
}



#cta-button{
    color: var(--middle-green);
    border: 1px solid var(--middle-green);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1rem;
}

#cta-button:hover{
    background-color: var(--middle-green);
    color: white;
}

#login-button:hover{
    text-decoration: underline;
}

